body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logged-out-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logged-out-header .app-logo {
    padding: 5px;
    margin-left: 40px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.app-logo {
    padding: 5px;
    margin-left: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.contents {
    padding: 1.2rem;
    margin-top: 4rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.footer {
    text-align-last: center;
    font-size: 2rem;
    padding-top: 120px;
}

.footer svg {
    padding-right: 40px;
    padding-left: 40px;
}

.links svg {
    text-align-last: center;
    font-size: 4rem;
    padding-right: 40px;
    padding-left: 40px;
}

h3 {
    padding-bottom: 8px;
}

.site-title {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: 1.5rem;
}

.coin-titles {
    text-transform: capitalize;
}

.coin-icons {
    display: contents;
}

.css-1njs860-MuiPaper-root-MuiCard-root {
    padding: 15px;
}

.user-profile b {
    text-transform: capitalize;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.marketplace-button button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-icon img {
    padding: 5px;
    margin-left: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* Welcome Page Component */

.welcome-page-header {
    background-color: black;
    color: white;
    height: 58rem;
    background-image: url('../public/bg2.jpeg');
    background-position: center;
}

.welcome-page-header h1 {
    padding-top: 10rem;
    padding-left: 5rem;
    color: black;
}
.welcome-page-header h2 {
    padding-left: 5rem;
    color: darkslategrey;
}

.welcome-btns {
    display: flex;
    padding: 5px;
}

.login-btn {
    padding-left: 5rem;
    margin: 5px;
}

.signup-btn {
    margin: 5px;
    background-color: white;
    border-radius: 7px;
}

.welcome-page-coins {
    padding: 1.2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.error-page {
    margin-left: 26rem;
    margin-top: 5rem;
}

/* landing page */
.mysterious-landing {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes {
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.eyes:hover {
    background-image: url('../public/eyes.png');
    cursor: pointer;
}

/* login page */
.error-alert {
  display: none;
}

.show-alert {
  display: block;
}

.css-xilmwd-MuiPaper-root-MuiAlert-root {
  margin-top: 10px;
}

.vid-box {
  margin-top: 8vh;
}

.footer-icon {
  height: 32px;
  width: 32px;
  border: 8px solid black;
  border-radius: 50%;
}