body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header img {
    padding: 5px;
    margin-left: 40px;
    background-color: white;
    border-radius: 50%;
}

.contents {
    padding: 1.2rem;
    margin-top: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.footer {
    text-align-last: center;
    font-size: 2rem;
    padding-top: 120px;
}

.footer svg {
    padding-right: 40px;
    padding-left: 40px;
}

.links svg {
    text-align-last: center;
    font-size: 4rem;
    padding-right: 40px;
    padding-left: 40px;
}

h3 {
    padding-bottom: 8px;
}

.site-title {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
}

.coin-titles {
    text-transform: capitalize;
}

.coin-icons {
    display: contents;
}

.css-1njs860-MuiPaper-root-MuiCard-root {
    padding: 15px;
}

.welcome-page {
    background-color: black;
    color: white;
    height: 30rem;
}

.welcome-page h1 {
    padding-top: 10rem;
    padding-left: 5rem;
}

.react-crypto-compare {
    overflow: hidden;
    max-width: 67px;
}